*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
**-backups*
*.kicad_sch-bak
secrets.yaml
pcb/#auto_saved_files#
pcb/*.lck
code/secrets.yaml
